html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
  }
  table td {
    border: 3px solid white; 
  }
  table tr:first-child td {
    border-top: 0;
  }
  table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }

.back-button{
    font-size: 40px;
    z-index: 10;
    position: absolute;
    left: 30px;
    top: 20px;
}
.proj-splash{
    width: 100%;
    height: 100vh;
    background-image: url("../images/rocket_full.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    
}
.proj-splash-desc{
    position: absolute;
    right: 20px;
    top: 80px;
    padding:15px;
    font-family: 'Oswald', sans-serif;
    width: 400px;
    background-color: white;
    text-align: center;
}
.proj-splash-features{
    width: 300px;
    position: absolute;
    bottom: 20px;
    right: 70px;
    background-color: white;
    padding:20px;
}
.features-wrapper{
    width: 100%;
    text-align: center;
}
.features-wrapper > h4{
    font-family: 'Oswald', sans-serif;
    color: gray;
}
.feature{
    display: block;
    padding-top: 15px;
}
.feature-icon{
    width:50px;
    height: 50px;
    display: inline-block;
}
.feature-name{
    display: inline-block;
    padding-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400px;
    color: gray;
}
.abstract{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.mobile-splash-desc{
    display: none;
    padding:15px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: white;
}
.mobile-splash-features{
    display: none;
    background-color: white;
    padding:20px;
}

.main-img{
    padding:0 !important;
    overflow: hidden;
}
.showcase-img{
    width: 100%;
    overflow: hidden;
}
.main-desc{
    text-align: center;
    padding:20px;
    align-items: center;
}

.topic-splash{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.topic-video{
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

.topic-desc{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 80px;
    bottom: 80px;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.phat-text{
    padding:40px;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}

.fit-text{
    padding: 40px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.design-goals{
    text-align: center;
    padding:30px;
    /* background-image: url("https://us.123rf.com/450wm/alexzel/alexzel1607/alexzel160700002/59581895-seamless-repeating-topographic-contour-map-background-vector-illustration.jpg?ver=6");
    background-attachment: fixed; */
    background-image: url("../images/dg-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 25px;
}
.design-goals > h1{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    font-weight: 200;
    left: -180px;
    transform: rotate(-90deg);
    margin: auto;
    padding-top: 250px;
    display: inline-block;
}

.proto-text{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.proto-text h1{
    margin-bottom: 20px;
}

.proto-text p a{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.sandp500{
    margin-top: 20px;
}

#whiteboards{
    /* min-height: 600px; */
    /* background-attachment: fixed;
    background-position: 50% 50%;*/
    background-image: url("../images/ab_twopieces.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 400px;
}

@keyframes ab-shuffle {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}

.tinydancer{
    animation: ab-shuffle 1s infinite;
}

#abmov{
    max-height: 200px;
    position: relative;
    top: 0;
    
}

#abani{
    background-size: contain;
    background-position: center;
    background-image: url("../images/abanicrop2.gif");
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px;
}

#cfdshot{
    background-size: contain;
    background-position: center;
    background-image: url("../images/airbrakecfd.png");
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 20px;
}

#comp1{
    background-size: contain;
    background-position: center;
    background-image: url("../images/compgif.gif");
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px;
}
#comp2{
    background-size: contain;
    background-position: center;
    background-image: url("../images/compstill.jpg");
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px;
}

.sandp500 div img{
    display: inline-block;
    max-width: 90vw;
    max-height: 500px;
}

#prototypes{
    background-size: contain;
    background-position: center;
    background-image: url("../images/abmach.gif");
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px;
}

#envelope{
    background-size: contain;
    background-position: center;
    background-image: url("../images/envelope_graphic4.png");
    background-repeat: no-repeat;
    min-height: 500px;
    padding: 20px;
}

#waypoints{
    background-size: contain;
    background-position: center;
    background-image: url("../images/adjustment_graphic.png");
    background-repeat: no-repeat;
    min-height: 500px;
    padding: 20px;
}

#console{
    background-size: contain;
    background-position: center;
    background-image: url("../images/consolerun2.gif");
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px;
}

#multigen{
    background-size: contain;
    background-position: center;
    background-image: url("../images/multigen.jpg");
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 20px;
}

#fccandid{
    background-size: contain;
    background-position: center;
    background-image: url("../images/fcmaybe.JPG");
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 20px;
}

.quadimg{
    min-height: 200px;
    background-image: url(/images/falcheav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shoe-reveal{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.shoe-reveal p{
    font-size: 20px;
    white-space: normal;
    max-width: 96vw;
}

#shoe-gif{
    max-height: 60vh;
    max-width: 80vw;
    width: auto;
    height: auto;
    margin: 50px;
    display: inline-block;
}

.shoe-reveal h1{
    font-family: 'Oswald';
    font-size: 3em;
}

#assembly-gif{
    width: 80%;
}

#mech-gif{
    width: 80%;
}

.explainer div{
    padding: 25px;
}

.machtext{
    padding:40px;
}

.machtext h4{
    font-family: 'Oswald';
    font-weight: 250;
}

.mach-ani{
    width: 350px;
    height: 350px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.machwrap{
    display: inline-block;
}

#mach1{
    background-image: url("../images/mach1\ crop_Moment.jpg");
}

#mach1:hover{
    background-image: url("../images/mach1ani.gif");
}

#mach2{
    background-image: url("../images/mach2still.jpg");
}

#mach2:hover{
    background-image: url("../images/mach2ani.gif");
}

#mach3{
    background-image: url("../images/mach3still.jpg");
}

#mach3:hover{
    background-image: url("../images/mach3ani.gif");
}

#mach4{
    background-image: url("../images/mach4still.jpg");
}

#mach4:hover{
    background-image: url("../images/mach4ani.gif");
}

#hovericon{
    height: 25px;
    width: auto;
    display: inline;
    margin-right: 10px;
}

.video-demo div iframe{
    display: inline;
    max-width: 90vw;
}

.video-demo div{
    padding: 40px;
}

.team-pic img{
    max-width:80vw;
    max-height:50vh;
    display: inline-block;
    width: auto;
    height: auto;
}

.team-pic p{
    padding: 20px;
}

.team-pic p i a{
    text-decoration: underline;
}


.highlight-img{
    background-image: url("../images/bandwdownscaled33.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.highlight-text{
    width: 400px;
    position: absolute;
    top: 50px;
    left: 35px;
    color: white;
    text-align: center;
}

.highlight-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
}

.highlight-desc{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 10px;
}

.stats-table{
    width:30%;
    height:200px;
    padding: 20px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.stat-title{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: lightgray;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.stats-table-table{
    width: 100%;
    height: 100%;
    font-size: 30px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

.img-container{
    width:100%;
    height: 70%;
    overflow: hidden;
}
.top-img{
    padding-top: 100px;
}
.goal-num{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 42px;
    display: inline-block;
    margin-right: 20px;
    border-right: 4px solid white;
}
.goal-name{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    display: inline-block;
}
.gnd{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
@media (max-width: 991.98px) {
    .design-goals > h1{
        position: relative;
        font-weight: 200;
        left: unset !important;
        transform: unset !important;
        margin: auto;
        padding-top: 20px;
        display: inline-block;
    }
    .proj-splash-desc{
        display: none;
    }
    .proj-splash-features{
        display: none;
    }
    .proj-splash{
        height: 50vh;
    }
    .mobile-splash-desc{
        display: block;
    }
    .mobile-splash-features{
        display: block;
    }
    .col-md > h1{
        padding-top: 20px;
    }
}
.story-img-container{
    background-image: url("../images/bandwdownscaled33.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: inherit;
    margin: none;
    text-align: center;
}

.halves-desc{
    padding: 20px;
}
.halves-desc > div{
    text-align: center;
}
.right-img{
    background-color: lightgray;
}
.left-img{
    background-color: white;
}
.halves-desc > div > div > div > h1{
    font-family: 'Oswald', sans-serif;
}
.gallery > div > div > .col-md{
    padding:0px !important;
}

.fourimg-container{
    width: 50vw;
    height: 400px;
    position: relative;
}

.fourimg-img{
    width: 25vw;
    height: 200px;
    background-image: url("../images/bandwdownscaled33.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
}

.topright{
    top: 0;
    right: 0;
}
.topleft{
    top: 0;
    left: 0;
}
.botright{
    bottom: 0;
    right: 0;
}
.botleft{
    bottom: 0;
    left: 0;
}

.gallery-img{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition:0.3s;
}
/* .gallery-img:hover{
    transform: scale(1.05);
    position: relative;
    z-index: 2;
    overflow-x: hidden;
} */
#img-1{
    background-image: url("../images/setpgraph.png");
}

#img-2{
    background-image: url("../images/abtable.jpg");
}
#img-3{
    background-image: url("../images/shinytop.jpg");
}
#img-4{
    background-image: url("../images/shinytop2.jpg");
}
#img-5{
    background-image: url("../images/errorgraph.png");
}
#img-6{
    background-image: url("../images/testfit.jpg");
}
#img-7{
    background-image: url("../images/trajectories.png");
}


.no-pad{
    padding: none;
}
.gallery-num{
    color: lightgray;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 35px;
    transform: rotate(-90deg);
    transition: 0.3s;
}
.footer
  {
      height:60px;
      background-color: #030040;
      width: auto;
  }
  #copyright
  {
      width:60%;
      height: 60px;
      position:relative;
      display:inline-block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 11px;
      line-height: 60px;
      text-align: center;
      color:white
  }
  .learn-more{
    width: 100%;
    height: 200px;
    background-image: url("../images/dg-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.learn-more > h2{
    font-family: 'Oswald', sans-serif;
}
.learn-more > a{
    color: white !important;
}
.contact-button{
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid white;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.contact-button:hover{
    background-color: white;
    color: #030040;
    transition: 0.3s;
}

.phold{
    display: flex;
    background-image: url(/images/rocket_error_graphic.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.phold2{
    display: flex;
    background-image: url(/images/engaged_graphic.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.image-ani{
    display: flex;
    background-image: url("../images/falcheav.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin-top: 30px;
}

.test1{
    height: 10%;
    /* background-color: red; */
    flex-grow: 1;
    display: block;
    position: relative;
    top: 70%;
    border: none;
    border-top: 5px dotted gray;
    margin-top: 18px;
    opacity: 0%;
    transition: 1s ease-in-out;
    transition-delay: .75s;
}
.test2{
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: gray;
    font-family: 'Oswald';
    position: relative;
    margin: none;
    top: 70%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0%;
    transition: 1s ease-in-out;
}

.fadeplz{
    opacity: 100%;
}

.statement{
    height: 85vh;
    width: 100%;
    background-image: url("../images/abdraw.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    margin: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#state2{
    background-image: url("../images/controlsani3.gif");
    margin-top: 20px;
}

#state3{
    background-image: url("../images/fcanimaybe.gif");
    margin-top: 20px;
}

.csstart{
    margin-top: 60px;
}

.csstart div p a{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.statement > h1{
    background-color: #030040;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}