.content-container{
    padding-top: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hex-container{
    float: left;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #030040;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #030040;
    position: relative;
    display: inline-block;
    color: white;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #030040;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 53px;
}

.contact-logo{
    height: 60px;
    width: auto;
    display: block;
    margin: auto;
}