.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 90px;
    height: 90px;        
}

.header-universal
{
    width: 100%;
    height: 100px;
    padding: 0px;
    vertical-align: middle;
    position: fixed;
    z-index: 10;
}

.header-background
{
    background-color:white;
    opacity: 100%;
    width: 100%;
    height:inherit;
    position: absolute;
    z-index: 3;
}

.logo-image
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75%;
    width:auto;
    z-index: 4;
}

body
{
    padding:0px;
    margin:0px;
    background-color:white;
    overflow-x: auto;
}

.intro-wrapper
{
    width:70%;
    height:100vh;
    position: absolute;
    z-index: -1;
    display: inline-block;
    text-align: center;
}

.intro-main
{
    position: absolute;
    height: 50%;
    width: 75%;
    top:25%;
    left:15%;
    z-index: 2;
    background-color: #012169;
}

.intro-shader
{
    position: absolute;
    height:50%;
    width:75%;
    background-color: darkgray;
    top:32%;
    left:10%;
}

#intro
{
    text-align: left;
    padding-left:30px;
    padding-top:50px;
    margin:auto;
    font-family: 'Cabin', sans-serif;
    font-size: 50px; 	
    line-height: 60px;
    color:white;
}

#first-line
{
    font-family: 'Cabin', sans-serif;
    font-size: 70px; 	
    line-height: 70px;
    color:white;
}

#pointer-portfolio:hover
{
    opacity: 100%;
}
#pointer-about:hover
{
    opacity: 100%;
}
#pointer-contact:hover
{
    opacity: 100%;
}
a:link
{
    color:black;
}
a:visited
{
    color:black;
}
#intro-pic
{
    display: inline-block;
    position:fixed;
    width:40%;
    height: auto;
    margin:0px;
    overflow-x: auto;
    white-space: nowrap;
    top:20%;
    right:0;
    z-index: -1;
}

.splash
{
    padding:0;
    margin:0;
    height: 100vh;
    width: auto;
    position: relative;
}

#pointer-portfolio-main
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: absolute;
    bottom:20px;
    left:0;
    right:0;
    opacity:50%;
    z-index: 0;
}
#pointer-portfolio
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: fixed;
    top:50%;
    opacity:50%;
    z-index: 0;
}

#pointer-about
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: fixed;
    top:50%;
    opacity:50%;
    z-index: 0;
}

#pointer-contact
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: fixed;
    top:50%;
    opacity:50%;
    z-index: 0;
}

.portfolio
{
    background-color:white;
    padding-left:50px;
    padding-right:50px;
    z-index: 1;
    padding-top:100px;
    padding-bottom: 100px;
    text-align: center;
}

.portfolio-entry
{
    background-color:grey;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-right:35px;
    margin-left:35px;
    margin-bottom:70px;
    position: relative;
}
#smartdorm
{
    background-image: url("images/sd_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#dev
{
    background-image: url("images/dev_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#art
{
    background-image: url("images/clocks_square-1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#enable
{
    background-image: url("images/enable_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#fpv
{
    background-image: url("images/fpv_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
.portfolio-entry:hover .overlay
{
    height:20%;
}

.portfolio-entry img
{
    height:inherit;
    width: inherit;
    position: absolute;
    padding: 0;
    margin: 0;
    display: inherit;
    left: 0;
}
.overlay {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #012169;
    overflow: hidden;
    width: 100%; 
    height: 0;
    transition: .5s ease;
  }
.text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width:90%;
    font-family: 'Cabin', sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text span
{
    font-size: 20px;
    line-height: 25px;
}
.rotate-left {
    right:0;
    transform: rotate(-90deg);

    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(-90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);
  
    /* IE */
    -ms-transform: rotate(-90deg);
  
    /* Opera */
    -o-transform: rotate(-90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

  .rotate-right {
    left:0;
    transform: rotate(90deg);
  
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(90deg);
  
    /* Firefox */
    -moz-transform: rotate(90deg);
  
    /* IE */
    -ms-transform: rotate(90deg);
  
    /* Opera */
    -o-transform: rotate(90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  
  }

  .footer
  {
      height:60px;
      background-color: #012169;
      width: auto;
  }
  #copyright
  {
      width:60%;
      height: 60px;
      position:relative;
      display:inline-block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 11px;
      line-height: 60px;
      text-align: center;
      color:white
  }