.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 90px;
    height: 90px;        
}

.header-universal
{
    width: 100%;
    height: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    z-index: 20;
    text-align: right;
}

.hamburger{
    display: none;
    position: absolute;
    right: 10px;
}

.header-background
{
    background-color:none;
    opacity: 100%;
    width: 100%;
    height:inherit;
    position: absolute;
    z-index: 3;
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}

.scrolled
{
    background-color: white;
}

.hamburger.scrolled-m .hamburger-inner,
  .hamburger.scrolled-m .hamburger-inner::before,
  .hamburger.scrolled-m .hamburger-inner::after {
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    background-color: black; }

.logo-image
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75%;
    width:auto;
    z-index: 4;
}

.menu
{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 100px;
    z-index: 15;
}

.menu > p{
    text-decoration: none;
}



.menu-vis{display: flex;}

body
{
    padding:0px;
    margin:0px;
    width: 100%;
    background-color:white;
    overflow-x: auto;
}

.intro-wrapper
{
    width:70%;
    height:100vh;
    position: absolute;
    z-index: 5;
    display: block;
    text-align: center;
}

.intro-main
{
    position: absolute;
    height: 350px;
    width: 725px;
    bottom:25%;
    left:15%;
    z-index: 2;
    background-color:#030040;
}

.intro-shader
{
    position: absolute;
    height:50%;
    width:75%;
    background-color: darkgray;
    top:32%;
    left:10%;
}

#intro
{
    text-align: left;
    padding-left:30px;
    padding-top:50px;
    margin:auto;
    font-family: 'Lora', serif;
    color:white;
}

#first-line
{
    font-family: 'Playfair Display', serif;
    font-size: 90px; 	
    line-height: 60px;
    color:white;
}

#pronun
{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    line-height: 80px;
}

#noun
{
    font-family: 'PT Serif', serif;
    font-size: 25px;
    line-height: 80px;
}

#defs
{
    text-align: left;
    padding-left:30px;
    padding-top:10px;
    margin:auto;
    font-family: 'Lora', serif;
    font-size: 45px; 	
    line-height: 80px;
    color:white;
}

@media screen and (max-width: 900px)
{
    .intro-wrapper{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .intro-main{
        height: 300px;
        width: 600px;
        margin: auto !important;
        top: unset;
        left: unset;
        bottom: 15%;
        display: block;
    }
    #first-line{
        font-size: 77px;
        line-height: 51px;
    }
    #pronun, #noun{
        line-height: 80px;
        font-size: 21px;
    }
    #defs{
        font-size: 34px;
        line-height: 68px;
        padding-left: 26px;
        padding-top: 6px;
    }
}

/*Small Media (Phone Portrait)*/
@media screen and (max-width: 600px)
{
    #pointer-portfolio-main{
        display:none;
    }
    #pointer-about{
        display:none;
    }
    #pointer-contact{
        display: none;
    }
    .intro-main{
        height: 175px;
        width: 362px;
    }
    .portfolio-entry{
        width: 200px !important;
        height: 200px !important;
    }
    .intro-wrapper{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .intro-main{
        width: 300px;
        height: 250px; /*was 145px*/
        margin: auto !important;
        top: unset;
        bottom: 20%;
        left: unset;
        display: block;
    }
    #first-line{
        font-size: 45px;
        line-height: 50px;
    }
    #intro{
        padding-top: 25px;
        margin-bottom:10px;
    }
    #pronun, #noun{
        line-height: 40px;
        font-size: 12px;
    }
    #defs{
        font-size: 20px;
        line-height: 35px;
        padding-left: 20px;
        padding-top: 4px;
    }
    .hamburger{display: inline-block;}
    .portfolio-entry{
        background-size: 200px;
    }
    .portfolio-entry:hover .overlay
    {
        height:100% !important;
    }
}

#hline{
    flex-grow:1;
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: gold;
  }

#pointer-portfolio-main:hover
{
    opacity: 100%;
    transition:opacity 0.7s;
}
#pointer-about:hover
{
    opacity: 100%;
    transition:opacity 0.7s;
}
#pointer-contact:hover
{
    opacity: 100%;
    transition:opacity 0.7s;
}
a:link
{
    color:black;
    text-decoration: none;
}
a:visited
{
    color:black;
}
#intro-pic
{
    display: inline-block;
    position:fixed;
    width: auto;
    min-width: 100vh;
    min-height: 100vh;
    height: 100vh;
    margin:0px;
    overflow-x: hidden;
    white-space: nowrap;
    top:0%;
    right:0;
    z-index: -1;
}

@media screen and (min-width: 1200px){
    #intro-pic{
        width:100vw;
        height: auto;
        object-fit: cover;
    }
}

.splash
{
    padding:0;
    margin:0;
    height: 100vh;
    width: auto;
    position: relative;
    overflow-x: hidden;
}

#pointer-portfolio-main
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: absolute;
    bottom:20px;
    left:0;
    right:0;
    opacity:50%;
    z-index: 10;
    color: white;
    transition:opacity 0.7s;
}
#pointer-portfolio
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: fixed;
    top:50%;
    opacity:50%;
    z-index: 0;
    color: white;
}

#pointer-about
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: fixed;
    top:50%;
    opacity:50%;
    z-index: 0;
    color: white;
    transition:opacity 0.7s;
}

#pointer-contact
{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 	
    line-height: 15px;
    text-align: center;
    margin: 0;
    padding:0;
    position: fixed;
    top:50%;
    opacity:50%;
    z-index: 10;
    color: white;
    transition:opacity 0.7s;
}

.portfolio
{
    background-color:white;
    padding-left:50px;
    padding-right:50px;
    z-index: 1;
    padding-top:100px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.portfolio-entry
{
    background-color:grey;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-right:35px;
    margin-left:35px;
    margin-bottom:70px;
    position: relative;
}
#smartdorm
{
    background-image: url("images/sd_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#dev
{
    background-image: url("images/dev_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#art
{
    background-image: url("images/clocks_square-1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#enable
{
    background-image: url("images/enable_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
#fpv
{
    background-image: url("images/fpv_square_1.png");
    background-repeat: no-repeat;
    background-position: top;
}
.portfolio-entry:hover .overlay
{
    height:20%;
}

.portfolio-entry img
{
    height:inherit;
    width: inherit;
    position: absolute;
    padding: 0;
    margin: 0;
    display: inherit;
    left: 0;
}
.overlay {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #012169;
    overflow: hidden;
    width: 100%; 
    height: 0;
    transition: .5s ease;
  }
.text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width:90%;
    font-family: 'Cabin', sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text span
{
    font-size: 20px;
    line-height: 25px;
}
.rotate-left {
    right:0;
    transform: rotate(-90deg);

    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(-90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);
  
    /* IE */
    -ms-transform: rotate(-90deg);
  
    /* Opera */
    -o-transform: rotate(-90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

  .rotate-right {
    left:0;
    transform: rotate(90deg);
  
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(90deg);
  
    /* Firefox */
    -moz-transform: rotate(90deg);
  
    /* IE */
    -ms-transform: rotate(90deg);
  
    /* Opera */
    -o-transform: rotate(90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  
  }

  .footer
  {
      height:60px;
      background-color: #012169;
      width: auto;
  }
  #copyright
  {
      width:60%;
      height: 60px;
      position:relative;
      display:inline-block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 11px;
      line-height: 60px;
      text-align: center;
      color:white
  }
  .aboutvid
  {
      width: 35%;
      margin-top:15%;
      margin-left:12%;
      display: inline-block;
  }
  .vl
  {
      border-left: 6px solid black;
      margin: 0;
      padding: 0;
      height:50%;
      width:1px;
  }
  .abouttext
  {
      display:inline-block;
      width: 50%;
  }